# Fraud Detection Analytics

## Data Collection and Exploratory Data analysis

#### Importing the required python libraries |

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

##### Importing Dataset

In [2]:
df=pd.read_csv('C:/Users/acesi/Documents/Aces__Project/Insurance Dataset.csv')

In [4]:
df.head()

,Area_Service,Hospital County,Hospital Id,Age,Gender,Cultural_group,ethnicity,Days_spend_hsptl,Admission_type,"Home or self care,",...,Mortality risk,Surg_Description,Weight_baby,Abortion,Emergency dept_yes/No,Tot_charg,Tot_cost,ratio_of_total_costs_to_total_charges,Result,Payment_Typology
0,Western NY,Allegany,37.0,30 to 49,F,White,Not Span/Hispanic,4,Elective,Home or Self Care,...,1.0,Medical,0,N,Y,5511.95,5582.49,1.012798,1,1
1,Western NY,Allegany,37.0,70 or Older,F,White,Not Span/Hispanic,4,Urgent,Short-term Hospital,...,2.0,Medical,0,N,Y,4783.20,5162.82,1.079365,1,1
2,Western NY,Allegany,37.0,30 to 49,F,White,Not Span/Hispanic,3,Urgent,Home or Self Care,...,1.0,Medical,0,N,Y,3829.15,4056.52,1.059379,1,1
3,Western NY,Allegany,37.0,0 to 17,F,White,Not Span/Hispanic,1,Urgent,Home or Self Care,...,1.0,Medical,0,N,Y,1108.20,1644.75,1.484167,0,1
4,Western NY,Allegany,37.0,70 or Older,F,White,Not Span/Hispanic,3,Elective,Home or Self Care,...,3.0,Medical,0,N,Y,3418.18,3370.87,0.986161,1,1

In [3]:
# checking the total no. of records present in the dataset
df.shape

(1048575, 24)

In [5]:
df.columns

Index(['Area_Service', 'Hospital County', 'Hospital Id', 'Age', 'Gender',
       'Cultural_group', 'ethnicity', 'Days_spend_hsptl', 'Admission_type',
       'Home or self care,', 'ccs_diagnosis_code', 'ccs_procedure_code',
       'apr_drg_description', 'Code_illness', 'Mortality risk',
       'Surg_Description', 'Weight_baby', 'Abortion', 'Emergency dept_yes/No',
       'Tot_charg', 'Tot_cost', 'ratio_of_total_costs_to_total_charges',
       'Result', 'Payment_Typology'],
      dtype='object')

In [6]:
# Checking the datatypes of the dataset

df.dtypes

Area_Service                              object
Hospital County                           object
Hospital Id                              float64
Age                                       object
Gender                                    object
Cultural_group                            object
ethnicity                                 object
Days_spend_hsptl                          object
Admission_type                            object
Home or self care,                        object
ccs_diagnosis_code                         int64
ccs_procedure_code                         int64
apr_drg_description                       object
Code_illness                               int64
Mortality risk                           float64
Surg_Description                          object
Weight_baby                                int64
Abortion                                  object
Emergency dept_yes/No                     object
Tot_charg                                float64
Tot_cost                                 float64
ratio_of_total_costs_to_total_charges    float64
Result                                     int64
Payment_Typology                           int64
dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 24 columns):
 #   Column                                 Non-Null Count    Dtype
---  ------                                 --------------    -----
 0   Area_Service                           1046119 non-null  object
 1   Hospital County                        1046119 non-null  object
 2   Hospital Id                            1046119 non-null  float64
 3   Age                                    1048575 non-null  object
 4   Gender                                 1048575 non-null  object
 5   Cultural_group                         1048575 non-null  object
 6   ethnicity                              1048575 non-null  object
 7   Days_spend_hsptl                       1048575 non-null  object
 8   Admission_type                         1048575 non-null  object
 9   Home or self care,                     1048575 non-null  object
 10  ccs_diagnosis_code                     1048575 non-null  int64
 11  ccs_procedure_code                     1048575 non-null  int64
 12  apr_drg_description                    1048575 non-null  object
 13  Code_illness                           1048575 non-null  int64
 14  Mortality risk                         1048533 non-null  float64
 15  Surg_Description                       1048575 non-null  object
 16  Weight_baby                            1048575 non-null  int64
 17  Abortion                               1048575 non-null  object
 18  Emergency dept_yes/No                  1048575 non-null  object
 19  Tot_charg                              1048575 non-null  float64
 20  Tot_cost                               1048575 non-null  float64
 21  ratio_of_total_costs_to_total_charges  1048575 non-null  float64
 22  Result                                 1048575 non-null  int64
 23  Payment_Typology                       1048575 non-null  int64
dtypes: float64(5), int64(6), object(13)
memory usage: 192.0+ MB

In [8]:
df.isna().sum()

Area_Service                             2456
Hospital County                          2456
Hospital Id                              2456
Age                                         0
Gender                                      0
Cultural_group                              0
ethnicity                                   0
Days_spend_hsptl                            0
Admission_type                              0
Home or self care,                          0
ccs_diagnosis_code                          0
ccs_procedure_code                          0
apr_drg_description                         0
Code_illness                                0
Mortality risk                             42
Surg_Description                            0
Weight_baby                                 0
Abortion                                    0
Emergency dept_yes/No                       0
Tot_charg                                   0
Tot_cost                                    0
ratio_of_total_costs_to_total_charges       0
Result                                      0
Payment_Typology                            0
dtype: int64

In [9]:
df.columns

Index(['Area_Service', 'Hospital County', 'Hospital Id', 'Age', 'Gender',
       'Cultural_group', 'ethnicity', 'Days_spend_hsptl', 'Admission_type',
       'Home or self care,', 'ccs_diagnosis_code', 'ccs_procedure_code',
       'apr_drg_description', 'Code_illness', 'Mortality risk',
       'Surg_Description', 'Weight_baby', 'Abortion', 'Emergency dept_yes/No',
       'Tot_charg', 'Tot_cost', 'ratio_of_total_costs_to_total_charges',
       'Result', 'Payment_Typology'],
      dtype='object')

In [10]:
df['ethnicity'].value_counts()

Not Span/Hispanic    910555
Spanish/Hispanic      87961
Unknown               50059
Name: ethnicity, dtype: int64

In [11]:
df['Admission_type'].value_counts()

Emergency        608595
Elective         235655
Urgent           110338
Newborn           90709
Trauma             2258
Not Available      1020
Name: Admission_type, dtype: int64

In [12]:
df['Area_Service'].value_counts()

Hudson Valley      261074
Western NY         180459
Central NY         171251
Capital/Adirond    170671
Finger Lakes       156186
New York City       74629
Southern Tier       31849
Name: Area_Service, dtype: int64

In [13]:
df['Cultural_group'].value_counts()

White                     781658
Black/African American    135163
Other Race                127922
Unknown                     3832
Name: Cultural_group, dtype: int64

In [14]:
df['Age'].value_counts()

70 or Older    306017
50 to 69       282013
30 to 49       198827
0 to 17        144607
18 to 29       117111
Name: Age, dtype: int64

In [15]:
df['Surg_Description'].value_counts()

Medical           805729
Surgical          242804
Not Applicable        42
Name: Surg_Description, dtype: int64

In [16]:
df[['ccs_diagnosis_code']].describe() # ---------------???????????

       ccs_diagnosis_code
count        1.048575e+06
mean         1.987936e+02
std          1.652839e+02
min          1.000000e+00
25%          1.080000e+02
50%          1.590000e+02
75%          2.180000e+02
max          6.700000e+02

In [17]:
df[['Weight_baby', 'Abortion']]

         Weight_baby Abortion
0                  0        N
1                  0        N
2                  0        N
3                  0        N
4                  0        N
...              ...      ...
1048570            0        N
1048571            0        N
1048572            0        N
1048573            0        N
1048574            0        N

[1048575 rows x 2 columns]

In [18]:
df[df['Admission_type']== 'Newborn']['Abortion'].value_counts()

N    90709
Name: Abortion, dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 24 columns):
 #   Column                                 Non-Null Count    Dtype
---  ------                                 --------------    -----
 0   Area_Service                           1046119 non-null  object
 1   Hospital County                        1046119 non-null  object
 2   Hospital Id                            1046119 non-null  float64
 3   Age                                    1048575 non-null  object
 4   Gender                                 1048575 non-null  object
 5   Cultural_group                         1048575 non-null  object
 6   ethnicity                              1048575 non-null  object
 7   Days_spend_hsptl                       1048575 non-null  object
 8   Admission_type                         1048575 non-null  object
 9   Home or self care,                     1048575 non-null  object
 10  ccs_diagnosis_code                     1048575 non-null  int64
 11  ccs_procedure_code                     1048575 non-null  int64
 12  apr_drg_description                    1048575 non-null  object
 13  Code_illness                           1048575 non-null  int64
 14  Mortality risk                         1048533 non-null  float64
 15  Surg_Description                       1048575 non-null  object
 16  Weight_baby                            1048575 non-null  int64
 17  Abortion                               1048575 non-null  object
 18  Emergency dept_yes/No                  1048575 non-null  object
 19  Tot_charg                              1048575 non-null  float64
 20  Tot_cost                               1048575 non-null  float64
 21  ratio_of_total_costs_to_total_charges  1048575 non-null  float64
 22  Result                                 1048575 non-null  int64
 23  Payment_Typology                       1048575 non-null  int64
dtypes: float64(5), int64(6), object(13)
memory usage: 192.0+ MB

In [20]:
df[['Payment_Typology']].describe()

       Payment_Typology
count      1.048575e+06
mean       1.935755e+00
std        7.717916e-01
min        1.000000e+00
25%        1.000000e+00
50%        2.000000e+00
75%        3.000000e+00
max        5.000000e+00

In [21]:
df[['Payment_Typology']].value_counts()

Payment_Typology
2                   430691
1                   344443
3                   269871
4                     3504
5                       66
dtype: int64

In [22]:
df[['Result']].count()

Result    1048575
dtype: int64

In [23]:
df[['Result']].value_counts()

Result
1         786407
0         262168
dtype: int64

### Checking for NULL and missing values and remove them

In [24]:
df.shape

(1048575, 24)

In [25]:
df.isna().sum()

Area_Service                             2456
Hospital County                          2456
Hospital Id                              2456
Age                                         0
Gender                                      0
Cultural_group                              0
ethnicity                                   0
Days_spend_hsptl                            0
Admission_type                              0
Home or self care,                          0
ccs_diagnosis_code                          0
ccs_procedure_code                          0
apr_drg_description                         0
Code_illness                                0
Mortality risk                             42
Surg_Description                            0
Weight_baby                                 0
Abortion                                    0
Emergency dept_yes/No                       0
Tot_charg                                   0
Tot_cost                                    0
ratio_of_total_costs_to_total_charges       0
Result                                      0
Payment_Typology                            0
dtype: int64

In [26]:
df[['Hospital Id']].isna().sum()

Hospital Id    2456
dtype: int64

In [27]:
df=df.dropna()

In [28]:
df.isna().sum()

Area_Service                             0
Hospital County                          0
Hospital Id                              0
Age                                      0
Gender                                   0
Cultural_group                           0
ethnicity                                0
Days_spend_hsptl                         0
Admission_type                           0
Home or self care,                       0
ccs_diagnosis_code                       0
ccs_procedure_code                       0
apr_drg_description                      0
Code_illness                             0
Mortality risk                           0
Surg_Description                         0
Weight_baby                              0
Abortion                                 0
Emergency dept_yes/No                    0
Tot_charg                                0
Tot_cost                                 0
ratio_of_total_costs_to_total_charges    0
Result                                   0
Payment_Typology                         0
dtype: int64

In [ ]:
#  checkin

#####  Column " Days_spend_hsptl " is in catogorical type instead of being in numerical datatype . so chage it